<button ng-click="getBoughtBooks(userId)">Zakupione ksiazki</button>
<div ng-show="viewBoughtBooks">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Kupiona</td>
            <td>Tytul</td>
            <td>Kategoria</td>
            <td>Autor</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in bought">
            <td>{{ item.copyForSale.id }}</td>
            <td>{{ item.boughtDate }}</td>
            <td>{{ item.copyForSale.bookForSale.title }}</td>
            <td>{{ item.copyForSale.bookForSale.category.name }}</td>
            <td>{{ item.copyForSale.bookForSale.author.name }} {{item.copyForSale.bookForSale.author.lastName}}</td>
        </tr>
        </tbody>
    </table>
</div>