<button ng-click="buyBooks(userId)">Kup ksiazke</button>
<div ng-show="showBuyMsg">
    {{ response.msg }}
    <button ng-click="order(userId, bookId)" type="button" ng-show="showOrderButton">Zamow ksiazke</button>
</div>

<div ng-show="viewBooksForSale">
    <form ng-submit="submitBuy(bookId, userId)">
        <p>
            Podaj id ksiazki: <input type="text" name="bookId" ng-model="bookId"/>
            &nbsp;<input type="submit" name="submit" value="Kup"/>
        </p>
    </form>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Tytul</td>
            <td>Kategoria</td>
            <td>Autor</td>
            <td>Opis</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in booksforsale">
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.author.name }} {{item.author.lastName}}</td>
            <td>{{ item.description }}</td>
        </tr>
        </tbody>
    </table>
</div>
